---
import BuildingContentBlock from '@components/markdoc/content/BuildingContentBlock.astro';
import { getWikiPage, isWikiDataOfType } from '@utils/wiki';

import type { BaseBuildingContentBlockProps } from '../types';
import SettingProcessor from './SettingProcessor.astro';

type Props = BaseBuildingContentBlockProps;

const { frontmatter, name } = Astro.props;

const buildingId = isWikiDataOfType(frontmatter, 'building') ? frontmatter.id : name;
const buildingPage = await getWikiPage('building', 'buildings/' + buildingId);
if (buildingPage === undefined) {
  throw Error(`Building id ${buildingId} does not exist.`);
}
---

{
  buildingPage.data.settings && (
    <BuildingContentBlock {...Astro.props} header="settings" imageKey="settings" imageAlt="Settings">
      <ul>
        {buildingPage.data.settings.map((setting) => (
          <>
            <li>
              <SettingProcessor building={buildingPage.data} setting={setting} />
            </li>
            {setting.options && (
              <ul>
                {setting.options.map((option) => (
                  <li>
                    <SettingProcessor building={buildingPage.data} setting={option} />
                  </li>
                ))}
              </ul>
            )}
          </>
        ))}
      </ul>
    </BuildingContentBlock>
  )
}
