---
import { type CollectionEntry, getCollection } from 'astro:content';

import { getVersionedEntry } from '../../../../util/version';
import Infobox from '../../../common/infobox/Infobox.astro';
import RecipeGrid from '../../../common/infobox/RecipeGrid.astro';
import BlockImage from '../../images/BlockImage.astro';
import ResearchName from '../../research/names/ResearchName.astro';
import BuildingName from '../names/BuildingName.astro';
import BuildingInfoboxWorker from './BuildingInfoboxWorker.astro';

interface Props {
  building: CollectionEntry<'buildings'>;
  version: CollectionEntry<'versions'>;
}

const { building, version } = Astro.props;

const researchEffect = (
  await getCollection(
    'research_effect',
    (effect) =>
      effect.data.type === 'building' &&
      effect.data.building.id === building.id &&
      effect.data.version.id === version.id
  )
).at(0);

const research = researchEffect
  ? await getCollection('research', (research) =>
      research.data.effects.map((m) => m.effect.id).includes(researchEffect.id)
    ).then((res) => res.at(0))
  : undefined;

const workers = building.data.workers ?? [];

const blockhutItemIds =
  building.data.blockhutname === undefined
    ? ['minecolonies/blockhut' + building.id]
    : Array.isArray(building.data.blockhutname)
      ? building.data.blockhutname
      : [building.data.blockhutname];
const blockhutItems = await Promise.all(
  blockhutItemIds.map((blockhutItemId) => getVersionedEntry('items', version, blockhutItemId))
).then((res) => res.filter((f): f is CollectionEntry<'items'> => f !== undefined));
const recipes = blockhutItems.flatMap((blockhutItem) => blockhutItem.data.recipes);

let oppositeRotation: number | undefined;
switch (building.data.rotation ?? 0) {
  case 90:
    oppositeRotation = 270;
    break;
  case 180:
    oppositeRotation = 0;
    break;
  case 270:
    oppositeRotation = 90;
    break;
  default:
    oppositeRotation = 180;
    break;
}
---

<Infobox class="flex-shrink-1">
  <BuildingName slot="title" version={version} building={building} />

  <div class="text-center">
    <swiper-container navigation slides-per-view="1" slides-per-group="1">
      {
        blockhutItems.map((blockhutItem) => (
          <>
            <swiper-slide>
              <BlockImage item={blockhutItem} size={300} rotation={building.data.rotation} />
            </swiper-slide>
            <swiper-slide>
              <BlockImage item={blockhutItem} size={300} rotation={oppositeRotation} />
            </swiper-slide>
          </>
        ))
      }
    </swiper-container>
  </div>

  <RecipeGrid recipes={recipes} version={version} />

  <hr />
  <p class="m-0">
    <b>Research:</b>
    {
      research !== undefined ? (
        <>
          <span>You must research</span>
          <ResearchName research={research} />
          <span>to unlock this building!</span>
        </>
      ) : (
        <>No research is required for this building.</>
      )
    }
  </p>

  {
    building.data.singular && (
      <>
        <hr />
        <p class="m-0">
          <b>Note:</b> you can only build a single <BuildingName version={version} building={building} />
        </p>
      </>
    )
  }

  {
    workers.length !== 0 && (
      <>
        <hr />
        {workers.map((worker, idx) => (
          <>
            <BuildingInfoboxWorker version={version} building={building} worker={worker} />
            {idx !== workers.length - 1 && <hr />}
          </>
        ))}
      </>
    )
  }
</Infobox>

<style lang="scss">
  swiper-container {
    --swiper-navigation-size: 22px;
  }

  swiper-slide {
    width: 100% !important;
  }
</style>
