---
import Infobox from '@components/ui/infobox/Infobox.astro';
import RecipeGrid from '@components/ui/infobox/RecipeGrid.astro';
import Wrapper from '@components/ui/infobox/Wrapper.astro';
import { getBuildingData, getBuildingIdFromFrontmatter, type MarkdocBuildingComponent } from '@utils/building';
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';

import BuildingName from '../BuildingName.astro';
import WorkerName from '../WorkerName.astro';

type Props = MarkdocBuildingComponent;

const { frontmatter, name } = Astro.props;

const buildingId = await getBuildingIdFromFrontmatter(frontmatter, true);
const buildingData = await getBuildingData(buildingId ?? '');

const research = (
  await getCollection('research', (filter) =>
    filter.data.effects
      ? Object.keys(filter.data.effects).find((effect) => effect.replace('blockhut', '') === name)
      : false
  )
).slice(0, 1)[0];

const workers = buildingData.data.workers ?? [];
const recipes = buildingData.data.recipes ?? [];
---

<Wrapper class="mb-3">
  <slot />

  <Infobox slot="infobox" class="flex-shrink-1">
    <BuildingName slot="title" {...Astro.props} />

    <div class="text-center">
      <Image src={buildingData.data.icon} alt={buildingData.data.name} width={300} />
    </div>

    {
      workers.length !== 0 && (
        <>
          <hr />
          <div class="grid" style="--bs-columns: 2;">
            <p class="m-0">
              <b>{workers.length > 1 ? 'Workers:' : 'Worker:'}</b>
            </p>
            <div>
              {workers.map((worker) => (
                <p class="m-0">
                  <WorkerName frontmatter={frontmatter} name={worker.id} />
                </p>
              ))}
            </div>
          </div>
        </>
      )
    }

    <RecipeGrid recipes={recipes} />

    <hr />
    <p class="m-0">
      <b>Research:&nbsp;</b>
      {
        research !== undefined ? (
          <span
            set:html={`You must research "<a href="/wiki/systems/research#research_${research.id}">${research.data.name}</a>" to unlock this building!`}
          />
        ) : (
          <>No research is required for this building.</>
        )
      }
    </p>
  </Infobox>
</Wrapper>
