---
import Infobox from '@components/ui/infobox/Infobox.astro';
import RecipeGrid from '@components/ui/infobox/RecipeGrid.astro';
import Wrapper from '@components/ui/infobox/Wrapper.astro';
import { getBuildingData } from '@utils/building';
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';
import { getCollection } from 'astro:content';

import BuildingName from '../names/BuildingName.astro';
import BuildingInfoboxWorker from './BuildingInfoboxWorker.astro';

interface Props {
  building: CollectionEntry<'buildings'>['id'];
}

const { building } = Astro.props;

const buildingData = await getBuildingData(building);

const research = (
  await getCollection('research', (filter) =>
    filter.data.effects
      ? Object.keys(filter.data.effects).find((effect) => effect.replace('blockhut', '') === building)
      : false
  )
).slice(0, 1)[0];

const workers = buildingData.data.workers ?? [];
const recipes = buildingData.data.recipes ?? [];
---

<Wrapper>
  <slot />

  <Infobox slot="infobox" class="flex-shrink-1">
    <BuildingName
      slot="title"
      frontmatter={{
        type: 'building',
        building: {
          collection: 'buildings',
          id: building
        }
      }}
      name={building}
    />

    <div class="text-center">
      <Image src={buildingData.data.icon} alt={buildingData.data.name} width={300} />
    </div>

    <RecipeGrid recipes={recipes} />

    <hr />
    <p class="m-0">
      <b>Research:&nbsp;</b>
      {
        research !== undefined ? (
          <span
            set:html={`You must research "<a href="/wiki/systems/research#research_${research.id}">${research.data.name}</a>" to unlock this building!`}
          />
        ) : (
          <>No research is required for this building.</>
        )
      }
    </p>

    {
      workers.length !== 0 && (
        <>
          <hr />
          {workers.map((worker, idx) => (
            <>
              <BuildingInfoboxWorker buildingId={buildingData.id} workerId={worker.id} />
              {idx !== workers.length - 1 && <hr />}
            </>
          ))}
        </>
      )
    }
  </Infobox>
</Wrapper>
