---
import ItemName from '@components/markdoc/names/items/VersionedItemName.astro';
import VersionContent from '@components/version/VersionContent.astro';
import { getOverrideValues } from '@utils/override';
import { Image } from 'astro:assets';
import { getEntry } from 'astro:content';

import Infobox from '../../ui/infobox/Infobox.astro';
import RecipeGrid from '../../ui/infobox/RecipeGrid.astro';

interface Props {
  item: string;
  expand?: boolean;
}

const { item: itemId, expand = false } = Astro.props;

const item = await getEntry('items', itemId);
if (item === undefined) {
  throw new Error(`Item '${itemId}' does not exist.`);
}

const recipeData = await getEntry('recipes', itemId);
const iconsPerVersion = await getOverrideValues(item.data, (i) => i.icons, []);
---

<Infobox class:list={['w-auto', 'flex-shrink-1', expand ? 'h-100' : '']} expand={expand}>
  <ItemName slot="title" item={item} link={false} />

  <div class="text-center">
    {
      iconsPerVersion.values.map((icons) => (
        <VersionContent versions={icons.versions}>
          <swiper-container
            pagination
            pagination-dynamic-bullets
            autoplay={icons.value.length > 2}
            autoplay-delay="2000"
            autoplay-pause-on-mouse-enter
            autoplay-disable-on-interaction="false"
            loop={icons.value.length > 1}
            loop-add-blank-slides
            slides-per-view={icons.value.length > 1 ? '2' : '1'}
            slides-per-group={icons.value.length > 1 ? '2' : '1'}
            no-swiping
            no-swiping-selector="*"
            width="300"
            space-between="20"
            style={{
              width: '300px',
              '--swiper-pagination-bottom': 0
            }}
          >
            {icons.value.map((icon) => (
              <swiper-slide>
                {typeof icon === 'string' ? (
                  <img src={icon} alt={item.data.name + ' icon'} loading="lazy" decoding="async" width={150} />
                ) : (
                  <Image src={icon} alt={item.data.name + ' icon'} width={150} />
                )}
              </swiper-slide>
            ))}
          </swiper-container>
        </VersionContent>
      ))
    }
  </div>

  {recipeData !== undefined && <RecipeGrid recipes={[recipeData]} />}
</Infobox>

<style>
  .recipe-grid {
    display: grid;
    grid-template-columns: auto max-content;
    gap: 0.5em;
  }
</style>
