---
import ContentBlock from '@components/ui/content/ContentBlock.astro';
import { isWikiDataOfType } from '@utils/wiki';
import { Image } from 'astro:assets';

import type { BaseBuildingContentBlockProps } from './types';

interface Props extends BaseBuildingContentBlockProps {
  header?: string;
  imageKey: string;
  imageAlt: string;
}

const TAB_INDEXES = ['first', 'second', 'third', 'fourth', 'fifth', 'sixth', 'seventh', 'eight', 'ninth', 'tenth'];

const { frontmatter, order = 1, cols, header, imageKey, imageAlt } = Astro.props;

if (!isWikiDataOfType(frontmatter, 'building')) {
  throw Error('Building content block attempted to be used in a non building page, this is not possible.');
}

const importedImage = await import(`../../../assets/images/wiki/gui/buildings/${frontmatter.id}/${imageKey}.png`).then(
  (f) => f.default
);
---

<ContentBlock cols={cols}>
  <Image slot="left" src={importedImage} alt={`${imageAlt} tab of the building its GUI`} />
  <p>The {TAB_INDEXES[order - 1]} tab of the GUI is the <b>{header}</b>.</p>
  <slot />
</ContentBlock>
