---
import VersionContent from '@components/version/VersionContent.astro';
import { getItemData } from '@utils/items';
import type { CollectionEntry } from 'astro:content';

import BuildingName from '../BuildingName.astro';

interface Props {
  requirement: NonNullable<CollectionEntry<'research'>['data']['requirements']>[number];
}

const { requirement } = Astro.props;
---

{
  requirement.type === 'building' && (
    <li>
      <span>One or multiple&nbsp;</span>
      <BuildingName name={requirement.building.id} plural />
      <span>&nbsp;totaling at least {requirement.level} levels</span>
    </li>
  )
}

{
  requirement.type === 'item' && (
    <li>
      <b>{requirement.quantity}</b>x&nbsp;
      <span>
        {requirement.items.map(async (item) => {
          const names = await getItemData(item);

          if (names === undefined) {
            return;
          }

          return names.map((name) => (
            <VersionContent versions={name.versions} inline>
              {name.link ? <a href={name.link}>{name.name}</a> : <span>{name.name}</span>}
            </VersionContent>
          ));
        })}
      </span>
    </li>
  )
}
