---
import VersionContent from '@components/version/VersionContent.astro';
import type { ResearchTabs } from '@components/wiki/research/common/types';
import ResearchTreeImage from '@components/wiki/research/image/ResearchTree.astro';
import ResearchListTree from '@components/wiki/research/table/ResearchTree.astro';
import { getCollection } from 'astro:content';

const versions = await getCollection('versions');
const allTrees = await getCollection('research_tree');

const tabs: ResearchTabs[] = [
  {
    name: 'Image',
    component: ResearchTreeImage
  },
  {
    name: 'List',
    component: ResearchListTree
  }
];
---

<h3 id="research-tree">Research Tree</h3>

<div class="nav nav-tabs" role="tablist">
  {
    tabs.map((tab, idx) => {
      const id = tab.name.toLocaleLowerCase();
      return (
        <button id={`${id}-tab`} class:list={['nav-link', idx === 0 && 'active']} type="button" role="tab">
          {tab.name}
        </button>
      );
    })
  }
</div>

{
  versions.map((version) => {
    const versionTrees = allTrees.filter((tree) => tree.data.version.id === version.id);
    return (
      <VersionContent versions={[version]} class="research-version-wrapper">
        <div class="tab-content">
          {tabs.map((tab, idx) => {
            const id = tab.name.toLocaleLowerCase();
            const Component = tab.component;
            return (
              <div
                id={`${id}-tab-pane-${version.id}`}
                class:list={['tab-pane', 'version-tab-pane', idx === 0 && 'active show']}
                role="tabpanel"
                data-tab-id={`${id}-tab-pane`}
              >
                {versionTrees.map((tree) => (
                  <>
                    <h3 id={tree.id}>{tree.data.name}</h3>
                    <p>
                      <a href="#research-tree">Back to top</a>
                    </p>
                    <Component tree={tree} />
                  </>
                ))}
              </div>
            );
          })}
        </div>
      </VersionContent>
    );
  })
}

<style>
  .nav-link {
    text-shadow: none;
    background-color: transparent !important;
  }

  :global(.research-version-wrapper) {
    width: 100%;
    overflow-x: auto;
  }

  .tab-content {
    margin-top: 1em;
  }
</style>

<script>
  function setup() {
    document.querySelectorAll<HTMLButtonElement>("[role='tab']").forEach((tabButton) => {
      tabButton.onclick = () => {
        const tabId = tabButton.id;
        const targetPaneId = `${tabId}-pane`;

        document.querySelectorAll<HTMLButtonElement>("[role='tab']").forEach((btn) => btn.classList.remove('active'));
        tabButton.classList.add('active');

        document.querySelectorAll<HTMLDivElement>('.version-tab-pane').forEach((pane) => {
          const isTargetPane = pane.getAttribute('data-tab-id') === targetPaneId;
          if (isTargetPane) {
            pane.classList.add('active', 'show');
          } else {
            pane.classList.remove('active', 'show');
          }
        });
      };
    });
  }

  document.addEventListener('astro:page-load', setup);
</script>
