---
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';
import { getEntry } from 'astro:content';

import Slideshow from '../common/slideshow/Slideshow.astro';

export type Schematic = CollectionEntry<'schematics'>['data']['schematics'][number];

interface Props {
  schematic: Schematic;
}

const { schematic } = Astro.props;

const building = schematic.type === 'building' ? await getEntry(schematic.building) : undefined;
const slideshowGroup = `schematic-${Math.random().toString(36).slice(2)}`;
---

<div
  class="schematic-card card"
  data-filter-id={schematic.id}
  data-filter-building={building?.data.baseId}
  data-filter-size-x={schematic.size.x}
  data-filter-size-y={schematic.size.y}
  data-filter-size-z={schematic.size.z}
  data-filter-invisible={schematic.invisible}
>
  <Slideshow group={slideshowGroup} navigation class="card-img-top w-100">
    {
      schematic.images.map((image, idx) => (
        <div data-slide>
          <Image src={image} alt={schematic.id + ' schematic icon ' + idx} width={250} class="rounded-top w-100" />
        </div>
      ))
    }
  </Slideshow>
  <div class="card-body">
    <b>
      {
        building ? (
          <p class="card-title">
            <>
              <span>{building.data.name}</span>
              <span>({schematic.id})</span>
            </>
          </p>
        ) : (
          <p class="card-title">{schematic.id}</p>
        )
      }
    </b>
    <p class="card-text text-secondary small">
      Size: {schematic.size.x + 'x' + schematic.size.y + 'x' + schematic.size.z}
    </p>
    {
      schematic.invisible && (
        <p class="card-text text-secondary small">
          <b>Note: This schematic is invisible, it will only show up in creative mode</b>
        </p>
      )
    }
  </div>
</div>

<style lang="scss">
  @import '../../css/bootstrap-vars';

  .hide {
    display: none;
  }
</style>
