---
import Wrapper from '@components/core/infobox/Wrapper.astro';
import { type CollectionEntry, getEntry, render } from 'astro:content';

import BuildingInfoboxAllVersions from './infobox/building/BuildingInfoboxAllVersions.astro';
import ItemInfoboxAllVersions from './infobox/item/ItemInfoboxAllVersions.astro';

interface Props {
  page: CollectionEntry<'wiki'>;
}

const { page } = Astro.props;
const { Content } = await render(page);

async function getBuildingData(id: string) {
  const buildingData = await getEntry('buildings', id);
  if (buildingData === undefined) {
    throw new Error(`Building with id ${id} does not exist.`);
  }
  return buildingData;
}
---

{
  page.data.type === 'building' ? (
    <Wrapper>
      <Content id={page.data.id} frontmatter={page.data} />

      <BuildingInfoboxAllVersions building={await getBuildingData(page.data.id)} slot="infobox" />
    </Wrapper>
  ) : page.data.type === 'item' && (page.data.infobox?.show ?? true) ? (
    <Wrapper>
      <Content id={page.id} frontmatter={page.data} />

      <ItemInfoboxAllVersions id={page.data.item} slot="infobox" />
    </Wrapper>
  ) : page.data.type === 'item-combined' && (page.data.infobox?.show ?? true) ? (
    <Wrapper>
      <Content id={page.id} frontmatter={page.data} />

      <div class="grid item-infobox-container" slot="infobox" style={{ '--bs-columns': page.data.infobox?.cols ?? 2 }}>
        {page.data.items.map((item) => (
          <ItemInfoboxAllVersions id={item} expand />
        ))}
      </div>
    </Wrapper>
  ) : (
    <Content id={page.id} frontmatter={page.data} />
  )
}

<style lang="scss">
  .item-infobox-container {
    --bs-gap: 1em;
    direction: rtl;
    height: min-content;
    float: right;

    :global(*) {
      direction: initial;
    }
  }
</style>

<style lang="scss">
  @import '../../css/bootstrap-vars.scss';
  @import '../../../node_modules/bootstrap/scss/_grid.scss';
</style>
