---
import Card from '@components/ui/Card.astro';
import type { CollectionEntry } from 'astro:content';

interface Props {
  member: CollectionEntry<'team'>;
}

const { member } = Astro.props;
---

<li>
  <Card class="p-4" autoSize>
    {
      member.data.uuid && (
        <img
          src={`https://crafatar.com/renders/body/${member.data.uuid}?overlay=true&scale=4`}
          class="float-md-left pt-3"
          alt={`Minecraft skin for ${member.id}`}
        />
      )
    }

    <h3 class="pt-3">{member.id}</h3>
    <p class={member.data.joinedYear ? 'mb-0' : ''}>{member.data.realName}</p>
    {member.data.joinedYear !== undefined && <p class="mb-2">Joined: {member.data.joinedYear}</p>}
    <p style={{ whiteSpace: 'pre' }}>{member.data.sub.join('\n')}</p>
    <p>
      <em>{member.data.tagline}</em>
    </p>
    <div class="clearfix"></div>
  </Card>
</li>
