---
import { getEntry } from 'astro:content';

import { isFullEntry, type PartialCollectionEntry } from '../../../util/util';
import CrafterRecipe from './CrafterRecipe.astro';
import RecipeConditions from './RecipeConditions.astro';
import ShapedRecipe from './ShapedRecipe.astro';
import ShapelessRecipe from './ShapelessRecipe.astro';
import SmeltingRecipe from './SmeltingRecipe.astro';

interface Props {
  recipe: PartialCollectionEntry<'recipes'>;
}

const { recipe } = Astro.props;
const recipeData = isFullEntry(recipe) ? recipe : await getEntry(recipe);

if (!recipeData) {
  throw new Error(`Could not find recipe with id ${recipe.id}`);
}
---

<div class="recipe-box">
  {recipeData.data.type === 'shaped' && <ShapedRecipe recipe={recipeData.data} />}
  {recipeData.data.type === 'shapeless' && <ShapelessRecipe recipe={recipeData.data} />}
  {recipeData.data.type === 'crafter' && <CrafterRecipe recipe={recipeData.data} />}
  {recipeData.data.type === 'smelting' && <SmeltingRecipe recipe={recipeData.data} />}
</div>

<RecipeConditions conditions={recipeData.data.conditions} />

<style>
  .recipe-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
    padding: 0.5em;
    background-color: #c6c6c6;
    border: 2px solid;
    border-color: #dbdbdb #5b5b5b #5b5b5b #dbdbdb;
  }
</style>
