---
import VersionContent from '@components/version/VersionContent.astro';
import { getOverrideValues } from '@utils/override';
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';

interface Props {
  item: CollectionEntry<'items'>;
}

const { item } = Astro.props;

const iconsPerVersion = await getOverrideValues(item.data, (i) => i.icons, []);
---

{
  iconsPerVersion.values.map((icons) => (
    <VersionContent versions={icons.versions} class="w-100">
      <swiper-container
        init="false"
        loop={icons.value.length > 1}
        autoplay
        autoplay-delay="1000"
        autoplay-pause-on-mouse-enter
        effect="fade"
        no-swiping
        no-swiping-selector="*"
        class="invslot-item"
        data-recipe-slot
        data-recipe-version=""
      >
        {icons.value.map((icon) => (
          <swiper-slide>
            <div class="invslot-wrapper">
              {typeof icon === 'string' ? (
                <img
                  src={icon}
                  alt={item.data.name + ' icon'}
                  loading="lazy"
                  decoding="async"
                  width={32}
                  height={32}
                  class="inv-sprite"
                  title={item.data.name}
                />
              ) : (
                <Image
                  src={icon}
                  alt={item.data.name + ' icon'}
                  width={32}
                  height={32}
                  class="inv-sprite"
                  title={item.data.name}
                />
              )}
            </div>
          </swiper-slide>
        ))}
      </swiper-container>
    </VersionContent>
  ))
}
