---
import { type CollectionEntry, getEntry } from 'astro:content';

import RecipeSlot from './RecipeSlot.astro';

interface Props {
  recipe: Extract<CollectionEntry<'recipes'>['data'], { type: 'shaped' }>;
}

const { recipe } = Astro.props;
const version = await getEntry(recipe.version);
---

<div class="inputs">
  <RecipeSlot items={recipe.items.at(0)?.at(0)} version={version} />
  <RecipeSlot items={recipe.items.at(0)?.at(1)} version={version} />
  <RecipeSlot items={recipe.items.at(0)?.at(2)} version={version} />
  <RecipeSlot items={recipe.items.at(1)?.at(0)} version={version} />
  <RecipeSlot items={recipe.items.at(1)?.at(1)} version={version} />
  <RecipeSlot items={recipe.items.at(1)?.at(2)} version={version} />
  <RecipeSlot items={recipe.items.at(2)?.at(0)} version={version} />
  <RecipeSlot items={recipe.items.at(2)?.at(1)} version={version} />
  <RecipeSlot items={recipe.items.at(2)?.at(2)} version={version} />
</div>
<div class="output">
  <RecipeSlot items={[recipe.output]} amount={recipe.amount} large version={version} />
</div>

<style>
  .inputs {
    display: grid;
    grid-template-columns: repeat(3, 2em);
    grid-template-rows: repeat(3, 2em);
  }

  .output {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
</style>
