---
import ResearchLink from '@components/markdoc/research/ResearchLink.astro';
import BlockImage from '@components/ui/BlockImage.astro';
import Infobox from '@components/ui/infobox/Infobox.astro';
import RecipeGrid from '@components/ui/infobox/RecipeGrid.astro';
import Wrapper from '@components/ui/infobox/Wrapper.astro';
import BuildingName from '@components/wiki/names/BuildingName.astro';
import { getNewestVersion } from '@utils/version';
import { type CollectionEntry, getCollection } from 'astro:content';

import BuildingInfoboxWorker from './BuildingInfoboxWorker.astro';

interface Props {
  building: CollectionEntry<'buildings'>;
}

const { building } = Astro.props;

const research = (
  await getCollection('research', (filter) =>
    filter.data.effects
      ? filter.data.effects.find((effect) => effect.effect.id.replace('blockhut', '') === building.id)
      : false
  )
).slice(0, 1)[0];

const newestVersion = await getNewestVersion();

const workers = building.data.workers ?? [];
const recipes = building.data.recipes ?? [];

let blockImageId: string | undefined = undefined;
switch (building.id) {
  case 'residence':
    blockImageId = 'minecolonies:blockhutcitizen';
    break;
  case 'quarry':
    blockImageId = 'minecolonies:mediumquarry';
    break;
  default:
    blockImageId = `minecolonies:blockhut${building.id}`;
    break;
}
---

<Wrapper>
  <slot />

  <Infobox slot="infobox" class="flex-shrink-1">
    <BuildingName slot="title" building={building} />

    <div class="text-center">
      <swiper-container navigation slides-per-view="1" slides-per-group="1">
        <swiper-slide lazy="true">
          <BlockImage
            blockId={blockImageId}
            version={newestVersion}
            width={300}
            angle="front"
            rotation={building.data.rotation}
          />
        </swiper-slide>
        <swiper-slide lazy="true">
          <BlockImage
            blockId={blockImageId}
            version={newestVersion}
            width={300}
            angle="back"
            rotation={building.data.rotation}
          />
        </swiper-slide>
      </swiper-container>
    </div>

    <RecipeGrid recipes={recipes} />

    <hr />
    <p class="m-0">
      <b>Research:</b>
      {
        research !== undefined ? (
          <>
            <span>You must research</span>
            <ResearchLink name={research.id} />
            <span>to unlock this building!</span>
          </>
        ) : (
          <>No research is required for this building.</>
        )
      }
    </p>

    {
      building.data.singular && (
        <>
          <hr />
          <p class="m-0">
            <b>Note:</b> you can only build a single <BuildingName building={building} />
          </p>
        </>
      )
    }

    {
      workers.length !== 0 && (
        <>
          <hr />
          {workers.map((worker, idx) => (
            <>
              <BuildingInfoboxWorker building={building} worker={worker} />
              {idx !== workers.length - 1 && <hr />}
            </>
          ))}
        </>
      )
    }
  </Infobox>
</Wrapper>

<style lang="scss">
  swiper-container {
    --swiper-navigation-size: 22px;
  }

  swiper-slide {
    width: 100% !important;
  }
</style>
