---
import '../../css/codeblock.scss';

import Meta from '@components/Meta.astro';
import PageContent from '@components/wiki/PageContent.astro';
import Layout from '@layouts/Default.astro';
import { getCollection } from 'astro:content';

import { getWikiDescription, getWikiImage, getWikiTitle } from '../../util/wiki';

export async function getStaticPaths() {
  const collection = await getCollection('wiki');
  return collection.map((entry) => ({
    params: { slug: entry.id },
    props: { entry }
  }));
}

const { entry } = Astro.props;
const { slug } = Astro.params;

const title = await getWikiTitle(entry);
const description = await getWikiDescription(entry);
const image = await getWikiImage(entry);

const initialTitle = typeof title === 'string' ? title : title.highestValue;
---

<Layout title={title} titleAffix="MineColonies Wiki">
  <Meta slot="meta" title={initialTitle + ' | MineColonies Wiki'} isWiki image={image} description={description} />

  <!-- {
    entry.data.sections && (
      // <aside slot="left">
      //   <hr />
      //   <ul class="dropdown-menu d-block position-relative">
      //     <li>
      //       <h6 class="dropdown-header">Sections:</h6>
      //     </li>
      //     <li>
      //       <a class="dropdown-item" href={`/wiki/${groupData.initialSection.id}`}>
      //         {groupData.initialSection.title}
      //       </a>
      //     </li>
      //     <li>
      //       <hr class="dropdown-divider" />
      //     </li>
      //     {groupData.sections
      //       .filter((section) => groupData.data.initialSection.id !== section.id)
      //       .map(async (section) => (
      //         <li>
      //           <a class="dropdown-item" href={`/wiki/${section.id}`}>
      //             {section.title}
      //           </a>
      //         </li>
      //       ))}
      //   </ul>
      // </aside>
  //   )
  // } -->

  <PageContent page={entry} />

  <hr />
  <p class="text-center">
    If changes are needed or you think there is content missing, feel free to
    <a href={`https://github.com/ldtteam/MinecoloniesWiki/edit/main/src/content/wiki/${slug}.mdoc`}>edit</a>
    this page or submit an
    <a href="https://github.com/ldtteam/MinecoloniesWiki/issues/new/choose"> issue</a>
    for us to make edits. - MineColonies Wiki Team
  </p>
</Layout>

<style>
  aside {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  aside > * {
    width: 100%;
  }
</style>
