---
import { getEntry } from 'astro:content';

import Meta from '../../components/common/core/Meta.astro';
import BuildingNameAllVersions from '../../components/wiki/building/names/BuildingNameAllVersions.astro';
import PagesOverview from '../../components/wiki/PagesOverview.astro';
import Social from '../../components/wiki/util/MarkdocSocialLink.astro';
import WorkerNameAllVersions from '../../components/wiki/workers/names/WorkerNameAllVersions.astro';
import Layout from '../../layouts/Default.astro';

const buildingBuilder = await getEntry({ id: 'builder', collection: 'buildings' });
const buildingFarmer = await getEntry({ id: 'farmer', collection: 'buildings' });
const buildingFisherman = await getEntry({ id: 'fisherman', collection: 'buildings' });
const buildingLumberjack = await getEntry({ id: 'lumberjack', collection: 'buildings' });
const buildingMiner = await getEntry({ id: 'miner', collection: 'buildings' });
const buildingSmeltery = await getEntry({ id: 'smeltery', collection: 'buildings' });
const buildingBaker = await getEntry({ id: 'baker', collection: 'buildings' });
const buildingCook = await getEntry({ id: 'cook', collection: 'buildings' });
const buildingCourier = await getEntry({ id: 'deliveryman', collection: 'buildings' });
const buildingComposter = await getEntry({ id: 'composter', collection: 'buildings' });
const buildingWarehouse = await getEntry({ id: 'warehouse', collection: 'buildings' });
const buildingResidence = await getEntry({ id: 'residence', collection: 'buildings' });
const buildingTownhall = await getEntry({ id: 'townhall', collection: 'buildings' });
const buildingBarracks = await getEntry({ id: 'barracks', collection: 'buildings' });
const buildingLibrary = await getEntry({ id: 'library', collection: 'buildings' });
const buildingUniversity = await getEntry({ id: 'university', collection: 'buildings' });
const buildingSchool = await getEntry({ id: 'school', collection: 'buildings' });

const workerBuilder = await getEntry({ id: 'builder', collection: 'workers' });
const workerFarmer = await getEntry({ id: 'farmer', collection: 'workers' });
const workerFisher = await getEntry({ id: 'fisher', collection: 'workers' });
const workerForester = await getEntry({ id: 'forester', collection: 'workers' });
const workerMiner = await getEntry({ id: 'miner', collection: 'workers' });
const workerSmelter = await getEntry({ id: 'smelter', collection: 'workers' });
const workerBaker = await getEntry({ id: 'baker', collection: 'workers' });
const workerCook = await getEntry({ id: 'cook', collection: 'workers' });
const workerCourier = await getEntry({ id: 'courier', collection: 'workers' });
const workerComposter = await getEntry({ id: 'composter', collection: 'workers' });
---

<Layout title="Wiki Home" titleAffix="MineColonies Wiki" header="Welcome to the MineColonies Wiki!">
  <Meta slot="meta" title="Wiki Home" isWiki />

  <p>
    MineColonies is an interactive building mod that allows you to create your own thriving town within Minecraft. It
    lets your leadership skills soar by providing you with everything you need to build your kingdom. MineColonies gives
    you the flexibility to create a colony as unique as every player. With so many options, you'll create a different
    colony every time, adapt it to any biome, build inside a mountain, on top of one, under the ocean, or in the sky.
  </p>
  <p>The limit is your imagination!</p>
  <p>
    MineColonies features NPC workers such as <WorkerNameAllVersions
      building={buildingBuilder}
      worker={workerBuilder}
      plural
    />, <WorkerNameAllVersions building={buildingFarmer} worker={workerFarmer} plural />, <WorkerNameAllVersions
      building={buildingFisherman}
      worker={workerFisher}
      plural
    />, <WorkerNameAllVersions building={buildingLumberjack} worker={workerForester} plural />, <WorkerNameAllVersions
      building={buildingMiner}
      worker={workerMiner}
      plural
    />, <WorkerNameAllVersions building={buildingSmeltery} worker={workerSmelter} plural />, <WorkerNameAllVersions
      building={buildingBaker}
      worker={workerBaker}
      plural
    />, <WorkerNameAllVersions building={buildingCook} worker={workerCook} plural />, <WorkerNameAllVersions
      building={buildingCourier}
      worker={workerCourier}
      plural
    />, five types of animal herders, <WorkerNameAllVersions
      building={buildingComposter}
      worker={workerComposter}
      plural
    />, and many more, with even more being developed and added as the mod grows.
  </p>
  <p>
    It also includes specialized buildings such as the <BuildingNameAllVersions building={buildingWarehouse} plural />, <BuildingNameAllVersions
      building={buildingResidence}
    />, <BuildingNameAllVersions building={buildingTownhall} />, <BuildingNameAllVersions
      building={buildingBarracks}
      plural
    />, <BuildingNameAllVersions building={buildingLibrary} plural />, <BuildingNameAllVersions
      building={buildingUniversity}
      plural
    />, and even the <BuildingNameAllVersions building={buildingSchool} plural />.
  </p>
  <h3>
    Please note that the wiki is a work in progress and will usually refer to the latest 1.20.1 and/or 1.21.1 version of
    MineColonies!
  </h3>
  <hr />
  <PagesOverview />
  <hr />
  <p>
    MineColonies is a free and open-source mod developed by Let's Dev Together (LDT), a non-profit community. The source
    code is available on <Social id="github" />. Our developers are a hard-working, well-integrated coding team,
    continuously adding more content to make the MineColonies experience even greater. However, we are always looking
    for more people to contribute to the mod, whether as a coder, builder, artist, voice actor, wiki editor, tester, or
    simply supporting us on <Social id="patreon" />!
  </p>
  <p>
    Found a bug? Report it as an <a href="https://github.com/ldtteam/minecolonies/issues/new/choose">issue</a> to help us
    give you the best gaming experience. If you require any help or just want to join the conversation, check us out on <Social
      id="discord"
    />!
  </p>
  <hr />
  <p class="text-center">
    If changes are needed or you think there is content missing, feel free to
    <a href="https://github.com/ldtteam/MinecoloniesWiki/edit/main/src/content/wiki/index.mdoc">edit</a>
    this page or submit an
    <a href="https://github.com/ldtteam/MinecoloniesWiki/issues/new/choose"> issue</a>
    for us to make edits. - MineColonies Wiki Team
  </p>
</Layout>
