---
import '../css/bootstrap.scss';
import '../css/globals.scss';

import Meta from '@components/Meta.astro';
import PageTitle from '@components/PageTitle.astro';
import PageWrapper from '@components/PageWrapper.astro';
import VersionStyling from '@components/version/VersionStyling.astro';
import { getNewestVersion } from '@utils/version';
import type { Title } from '@utils/wiki';
import { ClientRouter } from 'astro:transitions';

interface Props {
  title: Title;
  titleAffix?: string;
  header?: string;
  showHeader?: boolean;
  fluid?: boolean;
  columns?: number;
  leftColumns?: number;
  rightColumns?: number;
}

const {
  title,
  titleAffix = 'MineColonies',
  header = title,
  showHeader = true,
  fluid = false,
  columns = 7,
  leftColumns = 1,
  rightColumns = 1
} = Astro.props;

const isHome = Astro.url.pathname === '/';
const isWikiPage = Astro.url.pathname.startsWith('/wiki');

const newestVersion = await getNewestVersion();

let versionTitleData: Record<string, string>;
if (typeof title === 'string') {
  versionTitleData = { 'data-title-version-all': title };
} else {
  versionTitleData = title.values.reduce<Record<string, string>>((previousValue, currentValue) => {
    for (const version of currentValue.versions) {
      previousValue['data-title-version-' + version.data.order] = currentValue.value;
    }
    return previousValue;
  }, {});
}

const initialTitle = typeof title === 'string' ? title : title.highestValue + ' | ' + titleAffix;

const hasLeftSlot = await Astro.slots.render('left').then((slot) => (slot ?? '').trim() !== '');
const hasRightSlot = await Astro.slots.render('right').then((slot) => (slot ?? '').trim() !== '');
---

<!doctype html>
<html lang="en" transition:persist>
  <head>
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>

    <title property="og-title,twitter:title">
      {initialTitle}
    </title>

    <slot name="meta">
      <Meta isWiki={isWikiPage} title={initialTitle} />
    </slot>

    <script is:inline>
      function updateTitle(version) {
        let newTitle;
        if (document.body.dataset.titleVersionAll) {
          newTitle = document.body.dataset.titleVersionAll;
        } else {
          newTitle = document.body.dataset[`titleVersion-${version}`];
        }
        document.title = `${newTitle} | ${document.body.dataset.titleAffix ?? 'Minecolonies'}`;
      }

      function update(mutations) {
        for (const mutation of mutations) {
          if (mutation.type === 'attributes' && mutation.attributeName === 'data-version') {
            updateTitle(mutation.target.dataset.version);
          }
        }
      }

      const versionObserver = new MutationObserver(update);

      function setup() {
        versionObserver.observe(document.body, { attributes: true });
        updateTitle(document.body.dataset.version);
      }

      document.addEventListener('astro:page-load', setup);
    </script>

    <ClientRouter />
    <VersionStyling />
  </head>
  <body data-latest-version={newestVersion.data.order} {...versionTitleData} data-title-affix={titleAffix}>
    <PageWrapper isHome={isHome} isWiki={isWikiPage}>
      {showHeader && <PageTitle fluid={fluid} header={header} />}

      <div class:list={[fluid ? 'container-fluid' : 'container', 'grid w-100']} style={`--bs-columns: ${columns};`}>
        {
          hasLeftSlot && (
            <div class={`g-col-12 g-col-lg-${leftColumns}`}>
              <slot name="left" />
            </div>
          )
        }
        <div
          class:list={[
            'g-col-12',
            `g-col-lg-${columns - (hasLeftSlot ? leftColumns : 0) - (hasRightSlot ? rightColumns : 0)}`
          ]}
        >
          {showHeader && <hr />}
          <slot />
        </div>
        {
          hasRightSlot && (
            <div class={`g-col-12 g-col-lg-${rightColumns}`}>
              <slot name="right" />
            </div>
          )
        }
      </div>
    </PageWrapper>
  </body>
</html>
