---
import { getEntry } from 'astro:content';
import { type CollectionEntry } from 'astro:content';

import type { RecipeSchema } from '../../../schemas/item';
import { resolveSlots } from '../../../util/recipe';
import VersionSlideshow from '../../common/version/VersionSlideshow.astro';
import RecipeSlot from './RecipeSlot.astro';

interface Props {
  recipe: Extract<RecipeSchema, { type: 'crafter' }>;
  version: CollectionEntry<'versions'>;
}

const { recipe, version } = Astro.props;

const inputSlots = recipe.inputs.map((input) => input.item);
const inputCounts = recipe.inputs.map((input) => input.count);
const isAir = recipe.intermediate.id.endsWith('minecraft/air');
const intermediate = isAir ? undefined : await getEntry(recipe.intermediate);
const output = await getEntry(recipe.output);
const { frames } = await resolveSlots(inputSlots);

const group = `crafter-${Math.random().toString(36).slice(2)}`;
const slotColumns = inputSlots.map((_, i) => frames.map((frame) => frame[i]));
---

<VersionSlideshow version={version} group={group}>
  <div class="recipe-frame">
    <div class="inputs">
      {slotColumns.map((items, i) => <RecipeSlot items={items} amount={inputCounts[i]} />)}
    </div>
    {
      (intermediate || recipe.tool) && (
        <div class="intermediate">
          {intermediate && <RecipeSlot items={[intermediate]} />}
          {recipe.tool && <div class="tool">{recipe.tool}</div>}
        </div>
      )
    }
    <div class="output">
      <RecipeSlot items={[output]} amount={recipe.amount} large />
    </div>
  </div>
</VersionSlideshow>

<style>
  .recipe-frame {
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
  }

  .inputs {
    display: grid;
    grid-template-columns: repeat(3, 2em);
    grid-template-rows: repeat(3, 2em);
  }

  .intermediate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.25em;
  }

  .tool {
    font-size: 0.7em;
    color: #666;
  }

  .output {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
</style>
