---
import type { CollectionEntry } from 'astro:content';

import type { RecipeSchema } from '../../../schemas/item';
import CrafterRecipe from './CrafterRecipe.astro';
import RecipeConditions from './RecipeConditions.astro';
import ShapedRecipe from './ShapedRecipe.astro';
import ShapelessRecipe from './ShapelessRecipe.astro';
import SmeltingRecipe from './SmeltingRecipe.astro';

interface Props {
  recipe: RecipeSchema;
  version: CollectionEntry<'versions'>;
}

const { recipe, version } = Astro.props;
---

<div class="recipe-box">
  {recipe.type === 'shaped' && <ShapedRecipe recipe={recipe} version={version} />}
  {recipe.type === 'shapeless' && <ShapelessRecipe recipe={recipe} version={version} />}
  {recipe.type === 'crafter' && <CrafterRecipe recipe={recipe} version={version} />}
  {recipe.type === 'smelting' && <SmeltingRecipe recipe={recipe} version={version} />}
</div>

<RecipeConditions version={version} conditions={recipe.conditions} />

<style>
  .recipe-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
    padding: 0.5em;
    background-color: #c6c6c6;
    border: 2px solid;
    border-color: #dbdbdb #5b5b5b #5b5b5b #dbdbdb;
  }
</style>
