---
import Social from '@components/markdoc/util/Social.astro';
import { getEntry } from 'astro:content';

import type { Props as BannerProps } from './Banner.astro';
import Banner from './Banner.astro';

interface Props extends Omit<BannerProps, 'image'> {
  id: string;
}

const { id, ...rest } = Astro.props;
const textColor = rest.textColor ?? 'white';

const social = await getEntry('socials', id);
if (social === undefined) {
  throw new Error(`Social with '${social}' does not exist.`);
}
---

<Banner {...rest} image={(key) => `/images/ribbon/social/${social.id}_ribbon_${key}.png`}>
  <Social id={id} icon color={textColor}>
    <span style={{ color: textColor }}>
      <slot />
    </span>
  </Social>
</Banner>

<style>
  a {
    padding-left: 1em;
    padding-right: 1em;
  }
</style>
